@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	
	font-style:normal;
}
li, a{
	text-decoration: none;
}

@keyframes imgland{
	0%{
	transform: scale(0.9);
	}
    50%{
     transform: scale(1.5)
     filter: blur(0.5px);
    }
	100%{
	transform: scale(1);
	filter: blur(1.5px);
	}
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  animation: imgland 30s ease-in-out infinite;
  transition: .2s;
  z-index:-1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  filter: grayscale(80%) blur(3px);
  
}

.main-grid{
	display: grid;
	grid-template-columns: 100%;
	grid-row-gap: 5px;
	grid-template-areas: 
	"header"
	"bdy"
	"foot";
}
header, .body-content, .foot-content{
    background-color: rgba(255,255,255,.5);
	color: rgba(255,255,255,.9);
	font-weight:500;
}
/*head stuff start*/
header{
	grid-area:header;
	width: 100%;
	padding: 5px 5px;
}
.head-content, .search-content{
	display: flex;
	align-items:center;
	
}
.head-content{
	padding: 15px 2%;
	justify-content: space-between;
}

.search-content{
	border-top: 1px solid grey;
	justify-content: center;
	background: rgba(255,255,255,.5);
	border-radius: 5px;
    padding:10px 10px;
    margin: 5px 5px;
    width:100%;
    flex-flow: row wrap;
}

.search-content input{
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 15px;
  
}

.logo{
	cursor: pointer;
	margin-left:0px;
	width:100px;
	height:100px;
	border-radius:50%;
	border:1px solid rgba(255, 234, 167,.3);
	opacity: .8;
}

.nav-content{
	list-style: none;

}

.nav-content li{
	display: inline-block;
	padding: 5px 5px;
}
.nav-content li a{
	color: #2d3436;
	font-size:18px;
	font-weight: bold;
	transition: .2s;
}

.nav-content li:nth-of-type(2){
	background: rgba(255, 234, 167,.9);
	border-radius:3px;
	text-transform: uppercase;
}

.search-submit{
	border: 3px solid rgba(255, 234, 167,.9);
	outline: none;
	max-width:150px;
	max-height:60px;
	padding:3px 5px;
	color: rgba(0, 0, 0,1);
	font-size:20px;
	font-weight: bold !important;
	background-color: rgba(255, 255, 255,.5);
	transform: skewY(-1deg);
	text-transform: uppercase;
	cursor: pointer;
}


.search-bdy
{
	position: relative;
	padding: 9px 25px;
	background-color:rgba(255, 234, 167,1);
	border: none;
    border-radius:20px;
	cursor: pointer;
	outline: none;
}

.search-bdy::after{
	content:"";
	background:black;
	color:black;
	width:50px;
	height:50px;
}


/*head stuff end*/

/*content stuff start*/
.body-content{
	grid-area:bdy;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	
}
.body-content *{
	text-align:center;
	padding: 5px 2px;
}
/*content stuff end*/
.body-content+.foot-content{
	margin-top:0px;
}
/*foot stuff start*/
.foot-content{
	grid-area:foot;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}
.foot-content *{
	text-align:center;
	padding: 5px 2px;
}
/*foot stuff end*/


