@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	
	font-style:normal;
}
li, a{
	text-decoration: none;
}

@keyframes imgland{
	0%{
	transform: scale(0.9);
	}
    50%{
     transform: scale(1.5)
     filter: blur(0.5px);
    }
	100%{
	transform: scale(1);
	filter: blur(1.5px);
	}
}


#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  animation: imgland 30s ease-in-out infinite;
  transition: .2s;
  z-index:-1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  filter: grayscale(80%) blur(3px);
  
}

.main-grid{
	display: grid;
	grid-template-columns: 100%;
	grid-row-gap: 5px;
	grid-template-areas: 
	"header"
	"bdy"
	"foot";
}
header, .body-content, .foot-content{
    background-color: rgba(255,255,255,.5);
	color: rgba(255,255,255,.9);
	font-weight:500;
}
/*head stuff start*/
header{
	grid-area:header;
	width: 100%;
	padding: 5px 5px;
}
.head-content, .search-content{
	display: flex;
	align-items:center;
	
}
.head-content{
	padding: 15px 2%;
	justify-content: space-between;
}

.search-content{
	border-top: 1px solid grey;
	justify-content: center;
	background: rgba(255,255,255,.5);
	border-radius: 5px;
    padding:10px 10px;
    margin: 5px 5px;
    width:100%;
    flex-flow: row wrap;
}

.search-content input{
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 15px;
  
}

.logo{
	cursor: pointer;
	margin-left:0px;
	width:100px;
	height:100px;
	border-radius:50%;
	border:1px solid rgba(255, 234, 167,.3);
	opacity: .8;
}

.nav-content{
	list-style: none;

}

.nav-content li{
	display: inline-block;
	padding: 5px 5px;
	position: relative;
}
.nav-content li a{
	color: #2d3436;
	font-size:18px;
	font-weight: bold;
	transition: .2s;
}

.nav-content li:nth-of-type(2){
	background: rgba(255, 234, 167,.9);
	border-radius:3px;
	text-transform: uppercase;
	transition: .3s;
}

.nav-content li:nth-of-type(2):hover{
	background: #2d3436;
	font-weight:bold;
	border:1px solid rgb(255, 195, 18);
	border-radius:3px;
	text-transform: uppercase;
}
.nav-content li:nth-of-type(1)::before, .nav-content li:nth-of-type(1)::after {
	content:"";
	position: absolute;
	top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
 
}
.nav-content li:nth-of-type(1)::before {
    border-top: 2px solid rgba(255, 234, 167,.9);
    transform: scale3d(0,1,1);
}
.nav-content li:nth-of-type(1)::after {
    border-bottom: 2px solid rgba(255, 234, 167,.9);
    transform: scale3d(1,0,1);
 }
.nav-content li:nth-of-type(1):hover::before,
.nav-content li:nth-of-type(1):hover::after {
    transform: scale3d(1,1,1);
    background:rgb(255, 255, 255,.1);
    transition: transform 0.2s;
  }

.nav-content li:nth-of-type(2):hover > a{
	color: rgba(255, 234, 167,.9);
}

.search-submit{
	border: 3px solid rgba(255, 234, 167,.9);
	outline: none;
	max-width:150px;
	max-height:60px;
	padding:3px 5px;
	color: rgba(0, 0, 0,1);
	font-size:20px;
	font-weight: bold !important;
	background-color: rgba(255, 255, 255,.5);
	transform: skewY(-1deg);
	text-transform: uppercase;
	cursor: pointer;
	transition: .3s;
}


.sann, .sloc, .smit
{
	margin:2px 5px;
    max-width: 100%;
	height:30px;
	position: relative;
	outline: none;
}

.sann, .sloc{
	margin-bottom:10px;
}

.sann::after, .sloc::after{
	content: "";
	width:10px;
	height:10px;
	position: absolute;
	background:none;
	outline: none;
	border:2px solid rgb(99, 110, 114,.8);
	border-radius:50%;
	transition: .3s;
	opacity: 1;
	top:35%;
	left:80%;
}

.sann::before, .sloc::before{
	content: "";
	width:2px;
	height:8px;
	position: absolute;
	background:rgb(99, 110, 114,.8);
	outline: none;
	border:none;
	opacity: 1;
	top:75%;
	right:13%;
	transition: .3s;
	transform: skew(35deg);
}

input[data-name="sann"]:focus, input[data-name="sloc"]:focus {
  border: 2px solid rgb(255, 195, 18);
  border-radius: 10px;
  height: 34px;
  font-size:13px;

}
button.search-submit:hover{
	background: rgba(255, 234, 167,.9);
	border: 3px solid white;
	font-size:21px;
	color: rgb(0, 148, 50);
	font-weight: bold;




}

.sann:focus-within::after, .sloc:focus-within::after {
opacity: 0;
}
.sann:focus-within::before, .sloc:focus-within::before {
  transform: skew(0deg);
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent; 
  border-right:8px solid rgb(99, 110, 114,.8); 
  background:none;
  top:50%;
  right:13%;
  transition: .3s;
}

.search-bdy
{
	max-width:100%;
	height:30px;
	padding: 9px 25px;
	background-color:rgba(255, 234, 167,1);
	border: none;
    border-radius:20px;
	cursor: pointer;
	outline: none;
    color: #3f3f3f;
    transition: .2s;

}





/*head stuff end*/

/*content stuff start*/
.body-content{
	grid-area:bdy;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	
}
.body-content *{
	text-align:center;
	padding: 5px 2px;
}
/*content stuff end*/
.body-content+.foot-content{
	margin-top:0px;
}
/*foot stuff start*/
.foot-content{
	grid-area:foot;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}
.foot-content *{
	text-align:center;
	padding: 5px 2px;
}
/*foot stuff end*/


